<div class="col-md-12 portlet portlet_block_number pbn_trend">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
			Overall Progress - Trend
		</div>
		<div class="col-md-12 portlet_content">
			<div class="row height_x1a block_color_a4">
				
				<div class="block">
					<div class="plate plate1">
						<span class="number">387</span>
						<span class="title">Poi</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>