<div class="col-md-6 portlet portlet_project_type">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
			Project Type
		</div>
		<div class="col-md-12 portlet_content" style="height: 265px;">
			<div class="row">
				<div class="col-md-12 block_plate">
					<div class="row">
						<div class="col-md-12">
							<div class="row">

								<div class="block block_a1 col-md-12">
									<div class="plate plate1 finance_analysis_data1">
										<span class="type">Apartment</span>
									</div>
								</div>

							</div>
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="block block_a2 col-md-12">
									<div class="plate plate1 finance_analysis_data2">
										<span class="units">469</span>
										<span class="title">Total units</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>