<div class="col-md-6 portlet portlet_progress_v2">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-hourglass" aria-hidden="true"></i>
			Progress
		</div>
		<div class="col-md-12 portlet_content">
			<div class="row height_x2 mCustomScrollbar" data-mcs-theme="light">
				<div class="col-md-12">
					<div class="col-sm-12 col-md-4">
						<div class="block block_left">
							<div class="col-sm-12 col-md-12 plate plate1">
								<span class="title">Planned</span>
								<span class="number">43.70%</span>
							</div>
							<div class="col-sm-12 col-md-12 plate plate2">
								<span class="title">Actual</span>
								<span class="number">43.70%</span>
							</div>
							<div class="col-sm-12 col-md-12 plate plate3">
								<span class="title">Variation</span>
								<span class="number">43.70%</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-8">
						<div id="donut" class="chart"></div>
					</div>
					<!--<div class="col-sm-12 col-md-3">-->
						<!--<div class="block block_right">-->
							<!--<div class="col-sm-12 col-md-12 plate plate4">-->
								<!--<span class="title">Total Units</span>-->
								<!--<span class="number">469</span>-->
							<!--</div>-->
							<!--&lt;!&ndash;<div class="col-sm-12 col-md-12 plate plate5">&ndash;&gt;-->
								<!--&lt;!&ndash;<span class="title">Actual</span>&ndash;&gt;-->
								<!--&lt;!&ndash;<span class="number">43.70%</span>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="col-sm-12 col-md-12 plate plate6">&ndash;&gt;-->
								<!--&lt;!&ndash;<span class="title">Variation</span>&ndash;&gt;-->
								<!--&lt;!&ndash;<span class="number">43.70%</span>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</div>-->
					<!--</div>-->
					
				</div>
			</div>
		</div>
	</div>
</div>