<div class="col-md-12 portlet portlet_info">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
			Project Info
		</div>
		<div class="col-md-12 portlet_content">
			<div class="row height_x1a mCustomScrollbar" data-mcs-theme="light">
				<br><br>
				<div class="pc_top">
					<span class="info_title">PR1MA @ Cyberjaya 2</span>
					<span class="info_location">Cyberjaya, Sepang, Selangor</span>
				</div>
				<div class="pc_bottom">
					<span class="info_subtitle">HILLSTRAND DEVELOPMENT SDN BHD</span>
					<br><br><br>
				</div>
			</div>
		</div>
	</div>
</div>