<div class="col-md-6 portlet portlet_block_number pbn_trend">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-info-circle" aria-hidden="true"></i>
			House Units
		</div>
		<div class="col-md-12 portlet_content">
			<div class="row height_x2 mCustomScrollbar block_color_a4" data-mcs-theme="light">
				
				<div class="block">
					<div class="plate plate1">
						<br><br>
						<span class="number">469</span>
						<span class="title">Apartment House Unit</span>
						
					</div>
				</div>
				
			</div>
			<br>
		</div>
	</div>
</div>